<div class="jumbotron">
  <h1>Gem Reviews</h1>
  <p>Trying out a new gem? Share your experiences here or read about how it's worked for others.</p>
</div>
<ul id="all-jewels">
  <%= render @jewels %>
</ul>
<%= link_to "Add a gem", new_jewel_path, id: "new-jewel-link", class: "btn btn-primary", remote: true %>
