<div class="jumbotron">
  <h1>Gems</h1>
</div>
<ul id="all-jewels">
  <%= render @jewels %>
</ul>
<%= link_to "Add a gem", new_jewel_path, id: "new-jewel-link", class: "btn btn-primary", remote: true %>
